[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "zsh/zsh-custom"]
	path = zsh/zsh-custom
	url = git@github.com:monstermunchkin/zsh-custom.git
[submodule "vim/Vundle.vim"]
	path = vim/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
[submodule "systemd/systemd-user-units"]
	path = systemd/systemd-user-units
	url = https://git@github.com/monstermunchkin/systemd-user-units
